@{
    ViewBag.Title = "Didactische leermiddelen : Blokkeringen";
    ViewBag.Active = "Verlanglijst";
}

<h2>Blokkeringen</h2>
<p>U heeft geen blokkeringen staan! U moet de materialen die u wenst te blokkeren eerst opslaan in uw verlanglijst. @Html.ActionLink("Neem een kijkje in onze catalogus", "Index", "Catalogus")</p>