html {
  position: relative;
  min-height: 100%;
    
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* navbar */

.navbar
 {
     background-color: #00a183;
 }
 
 .navbar a{
     color: #FFFFFF;
 }
     
 ul.nav a:hover
 {
     background-color: #004d3e;
 }

 .icon-bar
 {
       background-color:#FFFFFF;
 }

 /* buttons */

 .btn-groen {
  color: #ffffff;
  background-color: #00a183;
  border-color: #ffffff;
}

 .btn-groen:hover
 {
     color: #ffffff;
     background-color: #004d3e;
 }

 
/* catalogus additions */

ul#catalogus-list li {
    height: 160px;
}

ul#catalogus-list li img:hover {
    box-shadow: 1px 1px 7px #004d3e;
}

ul#catalogus-list li img {
    box-shadow: 1px 1px 5px #00a183;
    border: none;
    padding: 0;
}

ul#catalogus-list li a, ul#catalogus-details li a {
    text-decoration:none;
}

ul#catalogus-list li a:hover {
    background: none;
    -webkit-text-shadow: 1px 1px 2px #bbb;
    text-shadow: 1px 1px 2px #bbb;
    color: #363430;
}

/* Searchbar*/

.searchbar 
{
    margin-bottom: 3em;
}

/* footer */

body {
  /* Margin bottom by footer height */
  margin-bottom: 3em;
}
.footer {
  position: absolute;
  bottom: 0;
  /*width:100%;*/
  /* Set the fixed height of the footer here */
  height: 3em;
  background-color: #ffffff;
}