@{
    ViewBag.Title = "Didactische leermiddelen : Reservaties";
    ViewBag.Active = "Verlanglijst";
}

<h2>Reservaties</h2>
    <p>U heeft geen reservaties staan! U moet de materialen die u wenst te reserveren eerst opslaan in uw verlanglijst. @Html.ActionLink("Neem een kijkje in onze catalogus", "Index", "Catalogus")</p>